<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: World University Rankings</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/world-university-rankings/">https://discovery.cs.illinois.edu/microproject/world-university-rankings/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: The Times Higher Education

There are hundreds of organizations that rank universities, including US News and World Report, QS World University Rankings, Times Higher Education (THE), and many others.

The Times Higher Education (THE) provides a clean, well-documented CSV that includes their rankings based on the "performance data on universities for students and their families, academics, university leaders, governments and industry".  Their 2020 dataset includes almost 1,400 universities across 92 countries and includes 13 performance indicators that measure an institution’s performance across teaching, research, knowledge transfer and international outlook.  Their website with additional details on this dataset is found here: https://www.timeshighereducation.com/content/world-university-rankings

In this MicroProject, you will explore basic DataFrame operations on the Times Higher Education university rankings.

<hr style="color: #DD3403;">

## Importing the World University Rank Dataset

To use the `pandas` library, we must **import** it into your notebook. import pandas as `pd` in the following cell:

In [21]:
import pandas as pd

Use panda's `read_csv` function to read the `World_University_Rank_2020.csv` and create a DataFrame called `df`.

In [22]:
df = pd.read_csv('World_University_Rank_2020.csv')
df

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
0,1,University of Oxford,United Kingdom,20664,11.2,41%,46%,54%,90.5,99.6,98.4,65.5,96.4,95.4,95.40
1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50
2,3,University of Cambridge,United Kingdom,18978,10.9,37%,47%,53%,91.4,98.7,95.8,59.3,95.0,94.4,94.40
3,4,Stanford University,United States,16135,7.3,23%,43%,57%,92.8,96.4,99.9,66.2,79.5,94.3,94.30
4,5,Massachusetts Institute of Technology,United States,11247,8.6,34%,39%,61%,90.5,92.4,99.5,86.9,89.0,93.6,93.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,531,Cear� State University,Brazil,20174,17.8,0%,55%,45%,16.2,8.3,6.1,35.6,16.3,11.3,10.7�22.1
1392,532,Pontifical Catholic University of Minas Gerais,Brazil,34101,21.3,0%,57%,43%,15.3,7.7,6.7,35.1,19.4,11.2,10.7�22.1
1393,533,Bashkir State University,Russian Federation,15236,11.1,3%,63%,37%,17.0,8.1,4.5,36.9,16.7,11.1,10.7�22.1
1394,534,University of Caxias do Sul,Brazil,17101,24.9,0%,54%,46%,13.8,7.8,7.6,35.0,17.7,11.0,10.7�22.1
1395,535,Tokyo Denki University,Japan,9285,25.6,2%,12%,88%,15.2,9.3,3.4,39.6,17.7,10.7,10.7�22.1

In [23]:
### TEST CASE for Importing the World University Rank Dataset
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert("df" in vars()), "Make sure to name the dataframe df"
assert(df["University"].iloc[0] == "University of Oxford")
assert(df["University"].iloc[1392] == "Pontifical Catholic University of Minas Gerais")
assert("University" in df)
assert("Score" not in df)
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Puzzle 1: Rankings with the United States

In this dataset, each row represents one university.  In the dataset, find the variable that encodes where the university is located.

Create one new DataFrame, `df_united_states` , that only contains universities located in the United States:

In [24]:
df_US = df[df.Country == "United States"]
df_US

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50
3,4,Stanford University,United States,16135,7.3,23%,43%,57%,92.8,96.4,99.9,66.2,79.5,94.3,94.30
4,5,Massachusetts Institute of Technology,United States,11247,8.6,34%,39%,61%,90.5,92.4,99.5,86.9,89.0,93.6,93.60
5,6,Princeton University,United States,7983,8.1,25%,45%,55%,90.3,96.3,98.8,58.6,81.1,93.2,93.20
6,7,Harvard University,United States,20823,9.2,24%,49%,51%,89.2,98.6,99.1,47.3,76.3,93.0,93.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,428,Oakland University,United States,15887,18.9,4%,57%,43%,25.5,12.7,24.5,35.3,28.9,21.9,10.7�22.1
1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7�22.1
1048,437,University of North Florida,United States,12132,17.7,2%,57%,43%,24.8,10.5,25.7,34.6,24.0,21.0,10.7�22.1
1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7�22.1
1212,477,University of North Carolina Wilmington,United States,14791,19.6,2%,62%,38%,15.9,7.7,23.3,35.1,26.5,16.9,10.7�22.1

In [25]:
### TEST CASE for Puzzle 1: Rankings with the United States
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert(df.iloc[47]["University"] == "University of Illinois at Urbana-Champaign")
assert(df.iloc[47]["Number_students"] == 44916)

assert('df_US' in vars()), "Make sure to name the dataframe df_united_states."
assert(len(df_US) == 172), "It looks like you did not subset df_united_states to only universities located in the United States."
assert(df_US["University"].iloc[0] == "California Institute of Technology")
assert(df_US["Number_students"].iloc[171] == 14791)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

## Exploring Indexes

By default, pandas creates an **index** column that starts with the index `0` and indexes each row with an increasing number.  The Top University in the original dataset, Oxford, has an index of 0.  You can view that by running the cell below, that displays the data for the university at index (or `loc`) `0`:

In [26]:
# Find the row with the index `0` in the DataFrame `df`:
df.loc[0]

Score_Rank                                    1
University                 University of Oxford
Country                          United Kingdom
Number_students                           20664
Numb_students_per_Staff                    11.2
International_Students                      41%
Percentage_Female                           46%
Percentage_Male                             54%
Teaching                                   90.5
Research                                   99.6
Citations                                  98.4
Industry_Income                            65.5
International_Outlook                      96.4
Score_Result                               95.4
Overall_Ranking                           95.40
Name: 0, dtype: object

Your new dataset `df_US` still has the original index values since it is a subset of `df`.  **You will get a `KeyError`** when you try and find the `index` `0` since you removed when you selected only the universities in the United States:

In [27]:
# First, find the row with the index `0` in the DataFrame `df_US`:
# (It does not exist, since it's not in the United States, so you should get an error!)
# (Continue to the next part to find to then come back and fix the error. :))
df_US.loc[1]

Score_Rank                                                  2
University                 California Institute of Technology
Country                                         United States
Number_students                                          2240
Numb_students_per_Staff                                   6.4
International_Students                                    30%
Percentage_Female                                         34%
Percentage_Male                                           66%
Teaching                                                 92.1
Research                                                 97.2
Citations                                                97.9
Industry_Income                                          88.0
International_Outlook                                    82.5
Score_Result                                             94.5
Overall_Ranking                                         94.50
Name: 1, dtype: object

## Fix The Error

In the above cell, fix the error my looking for the first index that is in the `df_US` DataFrame -- that's index #1, or CalTech.

Fix it and re-run the cell before you continue to the next puzzle. :)

<hr style="color: #DD3403; border-style: dashed;">

## Puzzle 1.2: Re-indexing the Universities in the United States

Use `df_US.reset_index()` to have pandas **regenerated** the indexes for `df_US`.  Python will:
- Replace all of the existing index values in `df_US` with a new index,
- This new index will start with `0` and number each row one-by-one as if you imported it as a new dataset

In [28]:
df_US = df_US.reset_index()
df_US

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
0,1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50
1,3,4,Stanford University,United States,16135,7.3,23%,43%,57%,92.8,96.4,99.9,66.2,79.5,94.3,94.30
2,4,5,Massachusetts Institute of Technology,United States,11247,8.6,34%,39%,61%,90.5,92.4,99.5,86.9,89.0,93.6,93.60
3,5,6,Princeton University,United States,7983,8.1,25%,45%,55%,90.3,96.3,98.8,58.6,81.1,93.2,93.20
4,6,7,Harvard University,United States,20823,9.2,24%,49%,51%,89.2,98.6,99.1,47.3,76.3,93.0,93.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,1011,428,Oakland University,United States,15887,18.9,4%,57%,43%,25.5,12.7,24.5,35.3,28.9,21.9,10.7�22.1
168,1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7�22.1
169,1048,437,University of North Florida,United States,12132,17.7,2%,57%,43%,24.8,10.5,25.7,34.6,24.0,21.0,10.7�22.1
170,1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7�22.1
171,1212,477,University of North Carolina Wilmington,United States,14791,19.6,2%,62%,38%,15.9,7.7,23.3,35.1,26.5,16.9,10.7�22.1

In [29]:
### TEST CASE for Puzzle 1.2: Re-indexing the Universities in the United States
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"
assert(df_US["University"].loc[0] == "California Institute of Technology")
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Puzzle 2: Large Universities in the United States

Examine the dataset to find the variable that stores the number of students that attends each university, then create a subset of the DataFrame called `df_US_large` that contains all universities in the United States that have over 30,000 students:

In [30]:
df_US_large = df[(df.Country == "United States") & (df.Number_students > 30000)]
df_US_large

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30
16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80
20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80
25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60
28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10
30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80
39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40
47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90
50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00
53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90
54,48,"University of California, Davis",United States,39164,12.0,14%,58%,42%,62.4,66.9,83.2,51.4,62.4,69.7,69.70
62,53,University of Southern California,United States,36929,11.7,25%,53%,47%,54.7,59.3,93.1,39.7,66.2,68.1,68.10
69,59,Ohio State University (Main campus),United States,54372,12.5,13%,50%,50%,57.5,56.1,87.3,53.3,59.5,66.1,66.10
77,65,Penn State (Main campus),United States,46204,15.3,16%,46%,54%,55.2,67.1,75.7,52.1,47.4,64.3,64.20
78,66,University of Minnesota,United States,61120,12.4,11%,52%,48%,55.2,59.3,82.7,78.2,40.2,64.1,64.10
83,68,Michigan State University,United States,44789,16.5,16%,51%,49%,56.6,57.4,80.0,37.8,63.3,63.9,63.90
87,71,Purdue University West Lafayette,United States,40451,15.7,23%,43%,57%,57.5,66.4,63.0,64.3,72.0,63.1,63.10
90,73,"University of Maryland, College Park",United States,33108,16.6,11%,48%,52%,46.9,59.1,89.6,39.2,41.2,62.8,62.70
95,77,"University of California, Irvine",United States,32706,16.5,26%,52%,48%,43.3,46.5,94.9,58.9,71.9,62.3,62.30
103,81,University of Arizona,United States,39124,18.4,10%,52%,48%,52.6,53.7,85.3,52.7,40.2,61.8,61.80
123,94,University of Colorado Boulder,United States,33186,16.3,11%,44%,56%,44.8,45.6,93.1,41.7,47.3,59.6,59.60
133,101,Indiana University,United States,66872,13.6,15%,52%,48%,50.8,49.7,76.7,49.8,53.5,58.4,58.40
154,111,Arizona State University (Tempe),United States,46683,21.1,21%,43%,57%,39.3,50.7,81.6,38.5,61.8,57.1,57.10
169,117,"Rutgers, the State University of New Jersey",United States,44801,11.2,17%,52%,48%,47.8,48.5,73.9,41.1,51.5,56.0,56.00
174,121,University of Florida,United States,46642,16.8,10%,55%,45%,54.0,53.8,61.9,57.9,40.0,55.4,55.40
177,122,Texas A&M University,United States,60818,24.8,8%,47%,53%,49.3,54.8,62.8,45.3,54.3,55.3,55.30
209,137,University of Massachusetts,United States,61204,13.0,15%,48%,52%,38.5,31.1,87.0,49.9,61.7,52.9,50.1�53.7
217,144,University of South Florida (Tampa),United States,33885,18.9,14%,0%,0%,30.5,34.2,87.3,89.0,54.7,51.9,50.1�53.7
220,146,University of Utah,United States,30365,14.2,8%,47%,53%,39.0,34.7,86.4,48.3,33.0,51.7,50.1�53.7
243,157,Virginia Polytechnic Institute and State Unive...,United States,32838,18.3,14%,43%,57%,37.5,42.3,70.9,47.5,54.0,50.4,50.1�53.7
277,175,Florida State University,United States,38520,24.1,7%,56%,44%,38.0,40.1,69.2,39.4,43.5,48.4,46.9�50.0
310,194,North Carolina State University,United States,30231,12.5,15%,45%,55%,36.7,35.3,64.7,43.2,57.8,46.4,44.5�46.8
312,195,Temple University,United States,35814,13.0,9%,53%,47%,39.3,23.5,79.3,34.4,37.7,46.3,44.5�46.8
393,230,University of Connecticut,United States,32446,15.2,9%,53%,47%,36.5,29.7,60.6,37.9,49.0,42.7,42.4�44.4
400,233,Iowa State University,United States,32469,18.8,12%,44%,56%,29.5,33.0,60.5,49.6,56.7,42.4,42.4�44.4
403,234,University of Georgia,United States,35164,16.3,7%,57%,43%,34.9,35.8,55.8,37.2,46.0,42.3,38.8�42.3
431,246,University of Alabama,United States,35120,22.5,4%,56%,44%,26.9,22.4,77.4,35.3,28.9,41.1,38.8�42.3
440,248,University of South Carolina-Columbia,United States,32291,16.2,5%,55%,45%,33.2,25.5,63.7,36.2,43.2,40.9,38.8�42.3
478,262,University of Houston,United States,44128,25.7,9%,50%,50%,33.6,25.9,58.0,36.8,42.5,39.4,38.8�42.3
507,271,Florida International University,United States,34203,23.8,8%,57%,43%,30.4,22.6,62.3,38.0,39.7,38.5,35.3�38.7
558,290,San Diego State University,United States,30799,30.5,8%,55%,45%,23.7,24.4,62.0,35.1,33.9,36.5,35.3�38.7
609,304,University of Central Florida,United States,56228,35.3,4%,56%,44%,26.5,28.7,49.7,42.6,32.9,35.0,28.3�35.2
638,314,Texas Tech University,United States,33015,20.6,9%,46%,54%,30.8,20.9,46.5,36.2,48.4,34.0,28.3�35.2
1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7�22.1
1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7�22.1

In [31]:
### TEST CASE for Puzzle 2: Large Universities in the United States
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert('df_US_large' in vars()), "Make sure to name the dataframe df_less_than_10000."
assert(len(df_US_large) == 45), "It looks like you did not subset df_less_than_10000 to only universities with less than 10000 students."
assert(df_US_large["University"].iloc[7] == "University of Illinois at Urbana-Champaign")
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

## Puzzle 2.2: Using the index to store a US_Large_Ranking

In the DataFrame, the provided list has a `Score_Rank` column.  We want to add a `US_Large_Rank` to create a ranking of just large schools in the United States.  There are several ways to do this, but one of the easiest is to use the `reset_index()` function.

- Since the list is already sorted, we know the first university in `df_US_large` is the top university (Rank #1).  The second row is Rank #2, and so on.
- If we use `reset_index`, pandas will re-index the rows starting from zero.  The first entry is Rank #1, but index 0, so we'd just need to add one to all the index values!

Complete the following two steps:
- Use `reset_index()` to reset the index values of `df_US_large`,
- Then, create a new column in `df_US_large` called `"US_Large_Rank"` that has the value of `df_US_large.index + 1`.

In [32]:
# Step 1: Reset the index of df_US_large (if needed, see Puzzle 1.2 to refresh how you can do this):
df_US_large = df_US_large.reset_index()
df_US_large

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
0,12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30
1,16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80
2,20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80
3,25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60
4,28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10
5,30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80
6,39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40
7,47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90
8,50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00
9,53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90
10,54,48,"University of California, Davis",United States,39164,12.0,14%,58%,42%,62.4,66.9,83.2,51.4,62.4,69.7,69.70
11,62,53,University of Southern California,United States,36929,11.7,25%,53%,47%,54.7,59.3,93.1,39.7,66.2,68.1,68.10
12,69,59,Ohio State University (Main campus),United States,54372,12.5,13%,50%,50%,57.5,56.1,87.3,53.3,59.5,66.1,66.10
13,77,65,Penn State (Main campus),United States,46204,15.3,16%,46%,54%,55.2,67.1,75.7,52.1,47.4,64.3,64.20
14,78,66,University of Minnesota,United States,61120,12.4,11%,52%,48%,55.2,59.3,82.7,78.2,40.2,64.1,64.10
15,83,68,Michigan State University,United States,44789,16.5,16%,51%,49%,56.6,57.4,80.0,37.8,63.3,63.9,63.90
16,87,71,Purdue University West Lafayette,United States,40451,15.7,23%,43%,57%,57.5,66.4,63.0,64.3,72.0,63.1,63.10
17,90,73,"University of Maryland, College Park",United States,33108,16.6,11%,48%,52%,46.9,59.1,89.6,39.2,41.2,62.8,62.70
18,95,77,"University of California, Irvine",United States,32706,16.5,26%,52%,48%,43.3,46.5,94.9,58.9,71.9,62.3,62.30
19,103,81,University of Arizona,United States,39124,18.4,10%,52%,48%,52.6,53.7,85.3,52.7,40.2,61.8,61.80
20,123,94,University of Colorado Boulder,United States,33186,16.3,11%,44%,56%,44.8,45.6,93.1,41.7,47.3,59.6,59.60
21,133,101,Indiana University,United States,66872,13.6,15%,52%,48%,50.8,49.7,76.7,49.8,53.5,58.4,58.40
22,154,111,Arizona State University (Tempe),United States,46683,21.1,21%,43%,57%,39.3,50.7,81.6,38.5,61.8,57.1,57.10
23,169,117,"Rutgers, the State University of New Jersey",United States,44801,11.2,17%,52%,48%,47.8,48.5,73.9,41.1,51.5,56.0,56.00
24,174,121,University of Florida,United States,46642,16.8,10%,55%,45%,54.0,53.8,61.9,57.9,40.0,55.4,55.40
25,177,122,Texas A&M University,United States,60818,24.8,8%,47%,53%,49.3,54.8,62.8,45.3,54.3,55.3,55.30
26,209,137,University of Massachusetts,United States,61204,13.0,15%,48%,52%,38.5,31.1,87.0,49.9,61.7,52.9,50.1�53.7
27,217,144,University of South Florida (Tampa),United States,33885,18.9,14%,0%,0%,30.5,34.2,87.3,89.0,54.7,51.9,50.1�53.7
28,220,146,University of Utah,United States,30365,14.2,8%,47%,53%,39.0,34.7,86.4,48.3,33.0,51.7,50.1�53.7
29,243,157,Virginia Polytechnic Institute and State Unive...,United States,32838,18.3,14%,43%,57%,37.5,42.3,70.9,47.5,54.0,50.4,50.1�53.7
30,277,175,Florida State University,United States,38520,24.1,7%,56%,44%,38.0,40.1,69.2,39.4,43.5,48.4,46.9�50.0
31,310,194,North Carolina State University,United States,30231,12.5,15%,45%,55%,36.7,35.3,64.7,43.2,57.8,46.4,44.5�46.8
32,312,195,Temple University,United States,35814,13.0,9%,53%,47%,39.3,23.5,79.3,34.4,37.7,46.3,44.5�46.8
33,393,230,University of Connecticut,United States,32446,15.2,9%,53%,47%,36.5,29.7,60.6,37.9,49.0,42.7,42.4�44.4
34,400,233,Iowa State University,United States,32469,18.8,12%,44%,56%,29.5,33.0,60.5,49.6,56.7,42.4,42.4�44.4
35,403,234,University of Georgia,United States,35164,16.3,7%,57%,43%,34.9,35.8,55.8,37.2,46.0,42.3,38.8�42.3
36,431,246,University of Alabama,United States,35120,22.5,4%,56%,44%,26.9,22.4,77.4,35.3,28.9,41.1,38.8�42.3
37,440,248,University of South Carolina-Columbia,United States,32291,16.2,5%,55%,45%,33.2,25.5,63.7,36.2,43.2,40.9,38.8�42.3
38,478,262,University of Houston,United States,44128,25.7,9%,50%,50%,33.6,25.9,58.0,36.8,42.5,39.4,38.8�42.3
39,507,271,Florida International University,United States,34203,23.8,8%,57%,43%,30.4,22.6,62.3,38.0,39.7,38.5,35.3�38.7
40,558,290,San Diego State University,United States,30799,30.5,8%,55%,45%,23.7,24.4,62.0,35.1,33.9,36.5,35.3�38.7
41,609,304,University of Central Florida,United States,56228,35.3,4%,56%,44%,26.5,28.7,49.7,42.6,32.9,35.0,28.3�35.2
42,638,314,Texas Tech University,United States,33015,20.6,9%,46%,54%,30.8,20.9,46.5,36.2,48.4,34.0,28.3�35.2
43,1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7�22.1
44,1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7�22.1

In [33]:
# Step 2: Create a new column in df_US_large:
df_US_large["US_Large_Rank"] = df_US_large.index + 1
df_US_large

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking,US_Large_Rank
0,12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30,1
1,16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80,2
2,20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80,3
3,25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60,4
4,28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10,5
5,30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80,6
6,39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40,7
7,47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90,8
8,50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00,9
9,53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90,10
10,54,48,"University of California, Davis",United States,39164,12.0,14%,58%,42%,62.4,66.9,83.2,51.4,62.4,69.7,69.70,11
11,62,53,University of Southern California,United States,36929,11.7,25%,53%,47%,54.7,59.3,93.1,39.7,66.2,68.1,68.10,12
12,69,59,Ohio State University (Main campus),United States,54372,12.5,13%,50%,50%,57.5,56.1,87.3,53.3,59.5,66.1,66.10,13
13,77,65,Penn State (Main campus),United States,46204,15.3,16%,46%,54%,55.2,67.1,75.7,52.1,47.4,64.3,64.20,14
14,78,66,University of Minnesota,United States,61120,12.4,11%,52%,48%,55.2,59.3,82.7,78.2,40.2,64.1,64.10,15
15,83,68,Michigan State University,United States,44789,16.5,16%,51%,49%,56.6,57.4,80.0,37.8,63.3,63.9,63.90,16
16,87,71,Purdue University West Lafayette,United States,40451,15.7,23%,43%,57%,57.5,66.4,63.0,64.3,72.0,63.1,63.10,17
17,90,73,"University of Maryland, College Park",United States,33108,16.6,11%,48%,52%,46.9,59.1,89.6,39.2,41.2,62.8,62.70,18
18,95,77,"University of California, Irvine",United States,32706,16.5,26%,52%,48%,43.3,46.5,94.9,58.9,71.9,62.3,62.30,19
19,103,81,University of Arizona,United States,39124,18.4,10%,52%,48%,52.6,53.7,85.3,52.7,40.2,61.8,61.80,20
20,123,94,University of Colorado Boulder,United States,33186,16.3,11%,44%,56%,44.8,45.6,93.1,41.7,47.3,59.6,59.60,21
21,133,101,Indiana University,United States,66872,13.6,15%,52%,48%,50.8,49.7,76.7,49.8,53.5,58.4,58.40,22
22,154,111,Arizona State University (Tempe),United States,46683,21.1,21%,43%,57%,39.3,50.7,81.6,38.5,61.8,57.1,57.10,23
23,169,117,"Rutgers, the State University of New Jersey",United States,44801,11.2,17%,52%,48%,47.8,48.5,73.9,41.1,51.5,56.0,56.00,24
24,174,121,University of Florida,United States,46642,16.8,10%,55%,45%,54.0,53.8,61.9,57.9,40.0,55.4,55.40,25
25,177,122,Texas A&M University,United States,60818,24.8,8%,47%,53%,49.3,54.8,62.8,45.3,54.3,55.3,55.30,26
26,209,137,University of Massachusetts,United States,61204,13.0,15%,48%,52%,38.5,31.1,87.0,49.9,61.7,52.9,50.1�53.7,27
27,217,144,University of South Florida (Tampa),United States,33885,18.9,14%,0%,0%,30.5,34.2,87.3,89.0,54.7,51.9,50.1�53.7,28
28,220,146,University of Utah,United States,30365,14.2,8%,47%,53%,39.0,34.7,86.4,48.3,33.0,51.7,50.1�53.7,29
29,243,157,Virginia Polytechnic Institute and State Unive...,United States,32838,18.3,14%,43%,57%,37.5,42.3,70.9,47.5,54.0,50.4,50.1�53.7,30
30,277,175,Florida State University,United States,38520,24.1,7%,56%,44%,38.0,40.1,69.2,39.4,43.5,48.4,46.9�50.0,31
31,310,194,North Carolina State University,United States,30231,12.5,15%,45%,55%,36.7,35.3,64.7,43.2,57.8,46.4,44.5�46.8,32
32,312,195,Temple University,United States,35814,13.0,9%,53%,47%,39.3,23.5,79.3,34.4,37.7,46.3,44.5�46.8,33
33,393,230,University of Connecticut,United States,32446,15.2,9%,53%,47%,36.5,29.7,60.6,37.9,49.0,42.7,42.4�44.4,34
34,400,233,Iowa State University,United States,32469,18.8,12%,44%,56%,29.5,33.0,60.5,49.6,56.7,42.4,42.4�44.4,35
35,403,234,University of Georgia,United States,35164,16.3,7%,57%,43%,34.9,35.8,55.8,37.2,46.0,42.3,38.8�42.3,36
36,431,246,University of Alabama,United States,35120,22.5,4%,56%,44%,26.9,22.4,77.4,35.3,28.9,41.1,38.8�42.3,37
37,440,248,University of South Carolina-Columbia,United States,32291,16.2,5%,55%,45%,33.2,25.5,63.7,36.2,43.2,40.9,38.8�42.3,38
38,478,262,University of Houston,United States,44128,25.7,9%,50%,50%,33.6,25.9,58.0,36.8,42.5,39.4,38.8�42.3,39
39,507,271,Florida International University,United States,34203,23.8,8%,57%,43%,30.4,22.6,62.3,38.0,39.7,38.5,35.3�38.7,40
40,558,290,San Diego State University,United States,30799,30.5,8%,55%,45%,23.7,24.4,62.0,35.1,33.9,36.5,35.3�38.7,41
41,609,304,University of Central Florida,United States,56228,35.3,4%,56%,44%,26.5,28.7,49.7,42.6,32.9,35.0,28.3�35.2,42
42,638,314,Texas Tech University,United States,33015,20.6,9%,46%,54%,30.8,20.9,46.5,36.2,48.4,34.0,28.3�35.2,43
43,1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7�22.1,44
44,1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7�22.1,45

In [34]:
### TEST CASE for Puzzle 2.2: Using the index to store a US_Large_Ranking
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert("US_large_rank" in df_US_large or "US_Large_Rank" in df_US_large)
assert(df_US_large.loc[0][0] == df_US_large.iloc[0][0])

if "US_large_rank" in df_US_large:
  assert(df_US_large.loc[0]["US_large_rank"] == 1)
else:
  assert(df_US_large.loc[0]["US_Large_Rank"] == 1)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

/tmp/ipykernel_10160/2311853065.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  assert(df_US_large.loc[0][0] == df_US_large.iloc[0][0])

<hr style="color: #DD3403;">

## Puzzle 3: Creating Random Subsets

Instead of focusing on just a subset of a DataFrame, researchers often need to look at a random sample of a DataFrame.

Returning to the original dataset of nearly 1,400 universities, create one new DataFrame, `df_random_15` , that gives us a random sample of 15 rows in the dataset.

In [35]:
df_random_15 = df.sample(n=15)
df_random_15

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
889,394,Normandy University,France,68013,20.3,11%,55%,45%,17.4,12.9,38.8,35.8,53.3,25.6,22.2�28.2
778,362,Nanjing Normal University,China,27490,13.2,3%,70%,30%,20.2,12.1,54.4,47.5,22.9,28.9,28.3�35.2
786,364,Jikei University School of Medicine,Japan,1078,0.9,1%,47%,53%,28.4,8.6,51.4,38.3,15.9,28.7,28.3�35.2
957,412,National Taipei University of Technology,Taiwan,9994,15.9,8%,27%,73%,21.8,20.2,22.4,86.7,28.8,23.6,22.2�28.2
1217,478,Soongsil University,South Korea,15516,18.3,6%,42%,58%,20.8,10.7,15.2,36.1,25.7,16.8,10.7�22.1
308,193,University of Macau,Macao,9340,14.4,37%,57%,43%,32.3,32.6,61.9,41.0,98.5,46.5,44.5�46.8
1343,510,Michoac�n University of San Nicol�s of Hidalgo,Mexico,40381,30.2,1%,52%,48%,13.4,10.2,11.3,35.4,29.8,13.6,10.7�22.1
314,196,Nova Southeastern University,United States,17785,23.4,6%,69%,31%,33.8,10.3,99.5,34.4,29.5,46.2,44.5�46.8
1020,430,University of Ostrava,Czech Republic,8872,18.3,9%,70%,30%,16.7,13.5,29.2,34.5,40.4,21.7,10.7�22.1
990,423,University of the Punjab,Pakistan,27907,26.9,0%,52%,48%,19.5,10.4,34.1,35.2,32.5,22.5,22.2�28.2
1118,455,Annamalai University,India,23098,14.1,2%,49%,51%,29.2,8.6,18.7,35.3,16.8,19.1,10.7�22.1
1013,428,Samara University,Russian Federation,9660,10.6,11%,51%,49%,18.3,12.4,31.0,46.6,30.2,21.9,10.7�22.1
987,422,Osaka City University,Japan,8279,8.9,4%,36%,64%,24.9,14.3,26.8,39.3,24.6,22.6,22.2�28.2
861,384,Sogang University,South Korea,9559,22.9,11%,45%,55%,24.4,28.2,23.6,47.7,34.9,26.7,22.2�28.2
989,423,University of Isfahan,Iran,13782,20.9,1%,61%,39%,30.9,22.6,13.4,45.5,17.5,22.5,22.2�28.2

In [36]:
### TEST CASE for Puzzle 3: Creating Random Subsets
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert('df_random_15' in vars()), "Make sure to name the dataframe df_random_15."
assert(len(df_random_15) == 15), "It looks like you did not sample exactly 15 rows."
assert(len(df_random_15[df_random_15.Country != "United States"]) > 0), "Make sure to sample from the full dataset stored in `df`"
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/world-university-rankings/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! 🎉